<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="container">
        <div class="row">
          <h2 style="padding: 30px 0; margin: 0 auto; font-weight: bold;">スケジュール編集 </h2>
        </div>
        <%= form_with model: calendar, url: admins_calendars_path, local: true do |f| %>
          <div class="row justify-content-center pb-3">
            <%= f.text_field :title, :size=> "54", placeholder: "スケジュール名" %>
          </div>
          <div class="row justify-content-center pb-3">
            <%= f.text_area :body, :size=> "53x8", placeholder: "スケジュール内容" %>
          </div>
          <div class="row justify-content-center pb-3">
            <%= f.datetime_field :start_time %>〜<%= f.datetime_field :finish_time %>
          </div>
          <div class="row justify-content-center pb-3">
            <%= f.submit "保存", class: "btn btn-dark" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>