<%= render "admins/customers/header", researches: @researches %>

<div class="container" style="padding: 130px 0 50px 0;">
  <div class="row">
    <h2 style="margin: 0 auto; font-weight: bold;">スケジュール詳細</h2>
  </div>
  <div class="notice text-center pt-5 pb-4" style="font-size: 20px; font-weight: bold; color: #FA601A;">
    <%= flash[:calendar_edit] %>
  </div>
  
  <div class="row pt-3 justify-content-center" style="font-weight: bold;">
    <%= @calendar.start_time.strftime('%Y/%m/%d %H時%M分') %> 〜
    <%= @calendar.finish_time.strftime('%Y/%m/%d %H時%M分') %>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mt-3 mb-3" style="height: 50px; overflow: auto;">
        <%= @calendar.title %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mb-3" style="height: 150px; overflow: auto;">
        <%= @calendar.body %>
      </div>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col text-right">
      <button type="button" id="edit-modal-button" class="btn btn-dark" data-toggle="modal" data-target="#edit-Modal" onclick="edit_modal_button_onclick();">
        編集
      </button>
      <div class="modal fade" id="edit-Modal" tabindex="-1" role="dialog" aria-labelledby="edit-ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <%= render "edit", calendar: @calendar %>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <%= link_to "削除", admins_calendar_path(@calendar), method: :delete, class: "btn btn-dark", data: { confirm: '削除してよろしいですか？' } %>
    </div>
  </div>
</div>

<div class="row justify-content-center" style="padding-bottom: 50px;">
  <div class="col-11">
    <%= render 'calendar', calendars: @calendars %>
  </div>
</div>