<%= render "customers/customers/header" %>

<div class="text-center" style="padding: 150px 0 30px 0; font-size: 30px; font-weight: bold;">お問い合わせ </div>
<%= form_with model: @research, url: estate_researches_path, local: true do |f| %>
  <div class="container">
    <div class="card shadow" style="margin: 0 0 150px 0;">
      <div class="row" style="padding: 60px 0 40px 0">
        <div class="col-2 text-center"><%= f.label :タイトル %></div>
        <div class="col-5"><%= f.text_field :title, placeholder:"タイトルをご入力ください。", :size=>"101x10" %></div>
      </div>
      <div class="row pb-5">
        <div class="col-2 text-center"><%= f.label :本文 %></div>
        <div class="col-1"><%= f.text_area :body, placeholder:"コメントをご入力ください。", :size=>"100x10" %></div>
      </div>
      <div class="row justify-content-center pb-5"><%= f.submit "お問い合わせする", class: "search" %></div>
    </div>
  </div>
<% end %>

<%= render "customers/customers/footer" %>