<%= render "customers/customers/header" %>
<div class="text-center pt-5 pb-5" style="font-size: 30px; font-weight: bold;">マイページ</div>
<div class="container">
  <div class="card shadow">
    <div class="row pt-5">
      <div class="col-3 text-center pt-1" style="font-weight: bold; font-size: 25px;">お名前</div>
      <div class="col-7">
        <div class="card" style="font-size: 25px;">
          <%= @customer.name %>
        </div>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-3 text-center" style="font-weight: bold; font-size: 25px;">メールアドレス</div>
      <div class="col-7">
        <div class="card" style="font-size: 25px;">
          <%= @customer.email %>
        </div>
      </div>
    </div>
    <div class="row pt-4 pb-5">
      <div class="col-3 text-center" style="font-weight: bold; font-size: 25px;">電話番号</div>
      <div class="col-7">
        <div class="card" style="font-size: 25px;">
          <%= @customer.phone_number %>
        </div>
      </div>
      <div class="col pt-2">
        <%= link_to "編集", edit_customer_registration_path, class: "edit btn-sm btn-outline-secondary", :style=>"font-size: 20px; text-decoration: none;" %>
      </div>
      </div>
    </div>
　</div>
</div>


<div class="text-center pt-5 pb-5" style="font-size: 30px; font-weight: bold;">お気に入り物件一覧</div>
<div class="container">
  <% if @favorites.present? %>
    <% @favorites.each do |favorite| %>
      <div class="card shadow mb-4 pb-5">
        <div class="row">
          <div class="col">
            <%= link_to attachment_image_tag(favorite.estate, :background_image, format: 'jpeg', size: "300x300"), estate_path(favorite) %>
          </div>
          <div class="col">
            <h5>物件名</h5>
          </div>
          <div class="col">
            <%= favorite.estate.name %> <%= favorite.estate.room_number %>号室
          </div>
          <div class="col">
            <h5>物件住所</h5>
          </div>
          <div class="col">
            <%= favorite.estate.address %>
          </div>
          <div class="col">
            <h5>間取り</h5>
          </div>
          <div class="col">
            <%= favorite.estate.floor %>
          </div>
        </div>
        <% if favorite.estate.favorited_by?(current_customer) %>
        <h5>お気に入り数：
          <%= link_to estate_favorites_path(favorite.estate), method: :delete do %>
          ★<%= favorite.estate.favorites.count %>
          <% end %>
        </h5>
        <% else %>
        <h5>お気に入り数：
          <%= link_to estate_favorites_path(favorite.estate), method: :post do %>
          ☆<%= favorite.estate.favorites.count %>
        　<% end %>
        </h5>
        <% end %>
        <h5>お気に入りした日時：<%= favorite.created_at.strftime('%Y年%m月%d日 %H時%M分') %></h5>
      </div>
    <% end %>
  <% end %>
</div>


<div class="text-center pt-5 pb-5" style="font-size: 40px;">お問い合せ物件一覧</div>
<div class="container">
  <div class="row">
    <div class="col-11">
      <div class="card">
        <div class="card-body">
        <% if @researches.present? %>
          <% @researches.each do |research| %>
          <%= link_to attachment_image_tag(research.estate, :background_image, format: 'jpeg', size: "100x100"), estate_path(research) %>
          <h5>物件名：<%= research.estate.name %></h5>
          <h5>部屋番号：<%= research.estate.room_number %>号室</h5>
          <h5>物件住所：<%= research.estate.address %></h5>
          <h5>間取り：<%= research.estate.floor %></h5>
          <h5>お問い合わせタイトル：<%= research.title %></h5>
          <h5>お問い合わせ本文：<%= research.body %></h5>
          <h5>お問い合わせした日時：<%= research.created_at.strftime('%Y年%m月%d日 %H時%M分') %></h5>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "customers/customers/footer" %>