<%= render "customers/customers/header" %>
<h1>マイページ</h1>
<div class="row">
  <div class="col-11">
    <div class="card">
      <p>お名前 <%= @customer.name %></p>
      <p>メールアドレス <%= @customer.email %></p>
      <p>電話番号 <%= @customer.phone_number %></p>
      <%= link_to "編集", edit_customer_registration_path %>
    </div>
  </div>
</div>

お問い合わせした物件一覧

<%= render "customers/customers/footer" %>