<%= render "admins/customers/header", researches: @researches %>

<div class="text-center" style="padding: 130px 0 50px 0; font-size: 30px; font-weight: bold;">
  会員一覧
</div>

<div class="text-center pt-3 pb-3" style="font-size: 20px; font-weight: bold;">
  <%= flash[:status] %>
</div>

<div class="container">
  <div class="card shadow">
    <div class="row">
      <div class="col">
        <table class="table">
          <tr>
            <th class="estate" style="width: 230px;">お名前</th>
            <th class="name" style="width: 380px;">メールアドレス</th>
            <th class="name" style="width: 35px;">電話番号</th>
            <th class="status" style="width: 100px;">問い合わせ</th>
            <th class="status" style="width: 70px;">いいね</th>
            <th class="status" style="width: 100px;">ステータス</th>
            <th class="status" style="width: 55px;"></th>
          </tr>
          <% if @customers.present? %>
            <% @customers.each do |customer| %>
              <tr>
                <td><%= customer.name %> 様</td>
                <td><%= customer.email %></td>
                <td><%= customer.phone_number %></td>
                <td class="researches text-center"><%= link_to "#{customer.researches.count}", admins_customer_researches_path(customer) %></td>
                <td class="favorites text-center"><%= link_to "#{customer.favorites.count}", admins_customer_favorites_path(customer) %></td>
                <% if customer.status == "有効" %>
                  <td class="status text-center" style="color: green;"><%= customer.status %></td>
                <% elsif customer.status == "無効" %>
                  <td class="status text-center" style="color: red;"><%= customer.status %></td>
                <% end %>
                <td><%= link_to "編集", edit_admins_customer_path(customer) %></td>
              </tr>
            <% end %>
          <% else %>
　          <div class="text-center pt-5">カスタマーはおりません。</div>
　        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
<%= paginate @customers %>

<%= render "admins/customers/footer" %>