<div class="container">
  <div class="row" style="padding: 50px; justify-content: center; color: white; font-weight: bold; font-size: 60px;">
    お気に入り数ランキング
  </div>
  <% if all_ranks.present? %>
    <div class="row">
      <% all_ranks.each.with_index(1) do |estate, i| %>
        <div class="col-4">
          <div class="ranks" style="color: white; font-weight: bold; font-size: 25px;">
            <%= "第#{i}位" %>
          </div>
          <div class="card mb-4" style="height:550px;">
            <div class="card-img-top">
              <%= link_to attachment_image_tag(estate, :background_image, size: "348x200"), estate_path(estate) %>
            </div>
            <div class="card-body" style="padding: 10px 0 0 8px;">
              <div class="card-title">
                <%= estate.name %>　<%= estate.room_number %>号室
              </div>
              <div class="card-text">
                <%= estate.address %>
              </div><br>
              <div>
                賃料：¥<%= estate.price.to_s(:delimited) %>　間取り：<%= estate.floor %>
              </div><br>
              <div style="font-size: 22px;">
                <i class="fas fa-building"></i><%= estate.favorites.count %>
              </div>
            </div>
            <div class="card-footer" style="padding-left: 8px;">
              <small class="text-muted">投稿日時　<%= estate.created_at.strftime('%Y年%m月%d日 %H時%M分') %></small>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div style="padding-top: 50px; text-align: center; font-size: 20px; font-weight: bold;">
      現在、お気に入りされた物件情報はございません。<br>お気に入りされる物件が出てくるまでもう少々お待ちください。
    </div>
  <% end %>
</div>