<%= search_form_for @q do |f| %>
  <div style="padding-bottom: 5px;">
    <%= f.select :address_start,
    [["東京都千代田区"],
    ["東京都中央区"],
    ["東京都港区"],
    ["東京都新宿区"],
    ["東京都文京区"],
    ["東京都台東区"],
    ["東京都墨田区"],
    ["東京都江東区"],
    ["東京都品川区"],
    ["東京都目黒区"],
    ["東京都大田区"],
    ["東京都世田谷区"],
    ["東京都渋谷区"],
    ["東京都中野区"],
    ["東京都杉並区"],
    ["東京都豊島区"],
    ["東京都北区"],
    ["東京都荒川区"],
    ["東京都板橋区"],
    ["東京都練馬区"],
    ["東京都足立区"],
    ["東京都葛飾区"],
    ["東京都江戸川区"]], {include_blank: "物件住所"} %>

    <%= f.collection_select :floor_eq, Estate.group(:floor), :floor, :floor, include_blank: "間取り" %>

    <%= f.select :price_gteq,
    [["30000"],["35000"],["40000"],["45000"],["50000"],["55000"],["60000"],["65000"],["70000"],["75000"],["80000"],["85000"],["90000"],["95000"],["100000"],
    ["105000"],["110000"],["115000"],["120000"],["125000"],["130000"],["135000"],["140000"],["145000"],["150000"],["155000"],["160000"],["165000"],["170000"],
    ["175000"],["180000"],["185000"],["190000"],["195000"],["200000"],["210000"],["220000"],["230000"],["240000"],["250000"],["260000"],["270000"],["280000"],
    ["290000"],["300000"],["310000"],["320000"],["330000"],["340000"],["350000"],["360000"],["370000"],["380000"],["390000"],["400000"],["410000"],["420000"],
    ["430000"],["440000"],["450000"],["460000"],["470000"],["480000"],["490000"],["500000"],["1000000"]], {include_blank: "賃料(下限)"} %> 〜
    <%= f.select :price_lteq,
    [["30000"],["35000"],["40000"],["45000"],["50000"],["55000"],["60000"],["65000"],["70000"],["75000"],["80000"],["85000"],["90000"],["95000"],["100000"],
    ["105000"],["110000"],["115000"],["120000"],["125000"],["130000"],["135000"],["140000"],["145000"],["150000"],["155000"],["160000"],["165000"],["170000"],
    ["175000"],["180000"],["185000"],["190000"],["195000"],["200000"],["210000"],["220000"],["230000"],["240000"],["250000"],["260000"],["270000"],["280000"],
    ["290000"],["300000"],["310000"],["320000"],["330000"],["340000"],["350000"],["360000"],["370000"],["380000"],["390000"],["400000"],["410000"],["420000"],
    ["430000"],["440000"],["450000"],["460000"],["470000"],["480000"],["490000"],["500000"],["1000000"]], {include_blank: "賃料(上限)"} %>
  </div>
  <div>
    <%= f.search_field :keyword, value: @keywords,
    :placeholder => "フリーワード　(検索例)浴室乾燥機　オートロック", style: "outline-offset: 0;  border-width: thin; height: 22px; border-radius: 2px; padding-right: 5px; outline-offset: 0;", :size => "58" %>
    <%= f.submit "検索", class: "searches", style: "margin-left: 20px;" %>
  </div>
<% end %>
