<div class="row mb-1">
  <div class="col-4">
    <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-1">
      <%= attachment_image_tag estate, :property_image_a, size: "350x350" %>
    </button>
    <div class="modal fade text-center m-3" id="myModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <%= attachment_image_tag estate, :property_image_a, size: "1400x550" %>
      <div class="modal-dialog" role="document"></div>
      <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-2">
      <%= attachment_image_tag estate, :property_image_b, size: "350x350" %>
    </button>
    <div class="modal fade text-center m-3" id="myModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <%= attachment_image_tag estate, :property_image_b, size: "1400x550" %>
      <div class="modal-dialog" role="document"></div>
      <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-3">
      <%= attachment_image_tag estate, :property_image_c, size: "350x350" %>
    </button>
    <div class="modal fade text-center m-3" id="myModal-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <%= attachment_image_tag estate, :property_image_c, size: "1400x550" %>
      <div class="modal-dialog" role="document"></div>
      <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
  </div>
</div>

<div class="row mb-1">
  <div class="col-4">
    <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-4">
      <%= attachment_image_tag estate, :property_image_d, size: "350x350" %>
    </button>
    <div class="modal fade text-center m-3" id="myModal-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <%= attachment_image_tag estate, :property_image_d, size: "1400x550" %>
      <div class="modal-dialog" role="document"></div>
      <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-5">
      <%= attachment_image_tag estate, :property_image_e, size: "350x350" %>
    </button>
    <div class="modal fade text-center m-3" id="myModal-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <%= attachment_image_tag estate, :property_image_e, size: "1400x550" %>
      <div class="modal-dialog" role="document"></div>
      <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-6">
      <%= attachment_image_tag estate, :property_image_f, size: "350x350" %>
    </button>
    <div class="modal fade text-center m-3" id="myModal-6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <%= attachment_image_tag estate, :property_image_f, size: "1400x550" %>
      <div class="modal-dialog" role="document"></div>
      <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
  </div>
</div>

<div class="row mb-1">
  <div class="col-4">
    <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-7">
      <%= attachment_image_tag estate, :property_image_g, size: "350x350" %>
    </button>
    <div class="modal fade text-center m-3" id="myModal-7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <%= attachment_image_tag estate, :property_image_g, size: "1400x550" %>
      <div class="modal-dialog" role="document"></div>
      <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-8">
      <%= attachment_image_tag estate, :property_image_h, size: "350x350" %>
    </button>
    <div class="modal fade text-center m-3" id="myModal-8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <%= attachment_image_tag estate, :property_image_h, size: "1400x550" %>
      <div class="modal-dialog" role="document"></div>
      <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;"><i class="far fa-times-circle"></i></button>
    </div>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-9">
      <%= attachment_image_tag estate, :property_image_i, size: "350x350" %>
    </button>
    <div class="modal fade text-center m-3" id="myModal-9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <%= attachment_image_tag estate, :property_image_i, size: "1400x550" %>
      <div class="modal-dialog" role="document"></div>
      <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
  </div>
</div>

<div class="row mb-1">
  <div class="col-4">
    <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-10">
      <%= attachment_image_tag estate, :property_image_j, size: "350x350" %>
    </button>
    <div class="modal fade text-center m-3" id="myModal-10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <%= attachment_image_tag estate, :property_image_j, size: "1400x550" %>
      <div class="modal-dialog" role="document"></div>
      <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-11">
      <%= attachment_image_tag estate, :property_image_k, size: "350x350" %>
    </button>
    <div class="modal fade text-center m-3" id="myModal-11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <%= attachment_image_tag estate, :property_image_k, size: "1400x550" %>
      <div class="modal-dialog" role="document"></div>
      <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-12">
      <%= attachment_image_tag estate, :property_image_l, size: "350x350" %>
    </button>
    <div class="modal fade text-center m-3" id="myModal-12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <%= attachment_image_tag estate, :property_image_l, size: "1400x550" %>
      <div class="modal-dialog" role="document"></div>
      <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
  </div>
</div>