<%= render "customers/customers/header" %>

<%= attachment_image_tag @estate, :background_image, format: 'jpeg', width: "100%;", heigth: "10%;" %>
<div class="container" style="margin-bottom: 50px;">
  <div class="estate" style="text-align: center; padding: 80px 0 80px 0; font-size: 30px; font-weight: bold;">
    <%= @estate.name %>　<%= @estate.room_number %>号室
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row justify-content-start">
        <div class="estate col-12">
          <%= @estate.info %><br><br>
        </div>
      </div>
      <div class="row justify-content-start">
        <div class="col-2 address">住所</div>
        <div class="estate col-10"><%= @estate.address %></div>
      </div><br>
      <div>
        間取り　<%= @estate.floor %>
      </div><br>
      <div>
        賃料　¥<%= @estate.price.to_s(:delimited) %>
      </div><br>

      <% if customer_signed_in? %>
        <div class="favorite_<%= @estate.id %>">
          <%= render "customers/favorites/favorite", estate: @estate %>
        </div><br>
      <% else %>
        <div style="font-size: 22px; padding-bottom: 20px;">
          <i class="fas fa-building"></i><%= @estate.favorites.count %>
        </div>
      <% end %>

      <div>投稿日時　<%= @estate.created_at.strftime('%Y年%m月%d日 %H時%M分') %></div>
    </div>
    <div class="col-1"></div>
    <div class="col-5">
      <%= attachment_image_tag @estate, :floor_image, format: 'jpeg', size: "475x475" %>
    </div>
  </div>

  <% if customer_signed_in? %>
    <div style="text-align: center; padding: 100px 0;">
      <%= link_to "お問い合わせ", new_estate_research_path(@estate), class: "search btn-sm btn-outline-secondary", :style=>"text-decoration: none; padding: 20px 60px;" %>
    </div>
  <% else %>
    <div style="text-align: center; padding: 100px 0;">
      <%= link_to "お問い合わせ", new_customer_session_path, class: "search btn-sm btn-outline-secondary", :style=>"text-decoration: none; padding: 20px 60px;" %>
    </div>
  <% end %>

  <% unless customer_signed_in? %>
    <div class="row">
      <div class="col-10" style="text-align: right; padding-top: 20px;">
        <p>お問い合わせするにはログインが必要です。<br/>会員登録済みの方はログインへ→</p>
      </div>
      <div class="col" style="padding-top: 28px;">
        <%= link_to "ログイン", new_customer_session_path, class: "edit btn-sm btn-outline-secondary", :style=>"font-size: 20px; text-decoration: none;" %>
      </div>
    </div>
    <div class="row">
      <div class="col-10" style="text-align: right; padding: 20px;">
        <p>お問い合せするには会員登録が必要です。<br/>会員登録をする方は会員登録へ→</p>
      </div>
      <div class="col" style="padding-top: 28px;">
        <%= link_to "会員登録", new_customer_registration_path, class: "edit btn-sm btn-outline-secondary", :style=>"font-size: 20px; text-decoration: none;" %>
      </div>
    </div>
  <% end %>

  <div class="row mb-1">
    <div class="col-4">
      <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-1">
        <%= attachment_image_tag @estate, :property_image_a, format: 'jpeg', size: "350x350" %>
      </button>
      <div class="modal fade text-center m-3" id="myModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <%= attachment_image_tag @estate, :property_image_a, format: 'jpeg', size: "1400x550" %>
        <div class="modal-dialog" role="document"></div>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;">
          <i class="far fa-times-circle"></i>
        </button>
      </div>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-2">
        <%= attachment_image_tag @estate, :property_image_b, format: 'jpeg', size: "350x350" %>
      </button>
      <div class="modal fade text-center m-3" id="myModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <%= attachment_image_tag @estate, :property_image_b, format: 'jpeg', size: "1400x550" %>
        <div class="modal-dialog" role="document"></div>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;">
          <i class="far fa-times-circle"></i>
        </button>
      </div>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-3">
        <%= attachment_image_tag @estate, :property_image_c, format: 'jpeg', size: "350x350" %>
      </button>
      <div class="modal fade text-center m-3" id="myModal-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <%= attachment_image_tag @estate, :property_image_c, format: 'jpeg', size: "1400x550" %>
        <div class="modal-dialog" role="document"></div>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;">
          <i class="far fa-times-circle"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row mb-1">
    <div class="col-4">
      <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-4">
        <%= attachment_image_tag @estate, :property_image_d, format: 'jpeg', size: "350x350" %>
      </button>
      <div class="modal fade text-center m-3" id="myModal-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <%= attachment_image_tag @estate, :property_image_d, format: 'jpeg', size: "1400x550" %>
        <div class="modal-dialog" role="document"></div>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;">
          <i class="far fa-times-circle"></i>
        </button>
      </div>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-5">
        <%= attachment_image_tag @estate, :property_image_e, format: 'jpeg', size: "350x350" %>
      </button>
      <div class="modal fade text-center m-3" id="myModal-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <%= attachment_image_tag @estate, :property_image_e, format: 'jpeg', size: "1400x550" %>
        <div class="modal-dialog" role="document"></div>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;">
          <i class="far fa-times-circle"></i>
        </button>
      </div>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-6">
        <%= attachment_image_tag @estate, :property_image_f, format: 'jpeg', size: "350x350" %>
      </button>
      <div class="modal fade text-center m-3" id="myModal-6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <%= attachment_image_tag @estate, :property_image_f, format: 'jpeg', size: "1400x550" %>
        <div class="modal-dialog" role="document"></div>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;">
          <i class="far fa-times-circle"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row mb-1">
    <div class="col-4">
      <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-7">
        <%= attachment_image_tag @estate, :property_image_g, format: 'jpeg', size: "350x350" %>
      </button>
      <div class="modal fade text-center m-3" id="myModal-7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <%= attachment_image_tag @estate, :property_image_g, format: 'jpeg', size: "1400x550" %>
        <div class="modal-dialog" role="document"></div>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;">
          <i class="far fa-times-circle"></i>
        </button>
      </div>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-8">
        <%= attachment_image_tag @estate, :property_image_h, format: 'jpeg', size: "350x350" %>
      </button>
      <div class="modal fade text-center m-3" id="myModal-8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <%= attachment_image_tag @estate, :property_image_h, format: 'jpeg', size: "1400x550" %>
        <div class="modal-dialog" role="document"></div>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;"><i class="far fa-times-circle"></i></button>
      </div>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-9">
        <%= attachment_image_tag @estate, :property_image_i, format: 'jpeg', size: "350x350" %>
      </button>
      <div class="modal fade text-center m-3" id="myModal-9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <%= attachment_image_tag @estate, :property_image_i, format: 'jpeg', size: "1400x550" %>
        <div class="modal-dialog" role="document"></div>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;">
          <i class="far fa-times-circle"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row mb-1">
    <div class="col-4">
      <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-10">
        <%= attachment_image_tag @estate, :property_image_j, format: 'jpeg', size: "350x350" %>
      </button>
      <div class="modal fade text-center m-3" id="myModal-10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <%= attachment_image_tag @estate, :property_image_j, format: 'jpeg', size: "1400x550" %>
        <div class="modal-dialog" role="document"></div>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;">
          <i class="far fa-times-circle"></i>
        </button>
      </div>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-11">
        <%= attachment_image_tag @estate, :property_image_k, format: 'jpeg', size: "350x350" %>
      </button>
      <div class="modal fade text-center m-3" id="myModal-11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <%= attachment_image_tag @estate, :property_image_k, format: 'jpeg', size: "1400x550" %>
        <div class="modal-dialog" role="document"></div>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;">
          <i class="far fa-times-circle"></i>
        </button>
      </div>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-12">
        <%= attachment_image_tag @estate, :property_image_l, format: 'jpeg', size: "350x350" %>
      </button>
      <div class="modal fade text-center m-3" id="myModal-12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <%= attachment_image_tag @estate, :property_image_l, format: 'jpeg', size: "1400x550" %>
        <div class="modal-dialog" role="document"></div>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white; font-size: 50px;">
          <i class="far fa-times-circle"></i>
        </button>
      </div>
    </div>
  </div>
</div>

