<%= render "customers/customers/header" %>
<%= attachment_image_tag @estate, :background_image, format: 'jpeg', size: "1500x800" %>
  <div class="row">
    <div class="col-md-11">
      <div class="card">
        <h2><%= @estate.name %></h2>
        <%= @estate.info %>
        <p>住所 <%= @estate.address %></p>
        <p>間取り <%= @estate.floor %></p>
        <p>賃料 ¥<%= @estate.price.to_s(:delimited) %></p>
        <%= attachment_image_tag @estate, :floor_image, format: 'jpeg', size: "100x100" %>
        <% if @estate.favorited_by?(current_customer) %>
          <p>
            <%= link_to estate_favorites_path(@estate), method: :delete do %>
             ★<%= @estate.favorites.count %>
            <% end %>
          </p>
        <% else %>
              <p>
               <%= link_to estate_favorites_path(@estate), method: :post do %>
                 ☆<%= @estate.favorites.count %>
               <% end %>
              </p>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to "お問い合わせする", new_estate_research_path(@estate) %>


<button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-1">
  <%= attachment_image_tag @estate, :property_image_a, format: 'jpeg', size: "400x400" %>
</button>
<div class="modal fade text-center m-3" id="myModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= attachment_image_tag @estate, :property_image_a, format: 'jpeg', size: "1300x650" %>
  <div class="modal-dialog" role="document"></div>
  <button type="button" class="btn btn-default" data-dismiss="modal">[ X ]</button>
</div>

<button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-2">
  <%= attachment_image_tag @estate, :property_image_b, format: 'jpeg', size: "400x400" %>
</button>
<div class="modal fade text-center m-3" id="myModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= attachment_image_tag @estate, :property_image_b, format: 'jpeg', size: "1300x650" %>
  <div class="modal-dialog" role="document"></div>
  <button type="button" class="btn btn-default" data-dismiss="modal">[ X ]</button>
</div>

<button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-3">
  <%= attachment_image_tag @estate, :property_image_c, format: 'jpeg', size: "400x400" %>
</button>
<div class="modal fade text-center m-3" id="myModal-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= attachment_image_tag @estate, :property_image_c, format: 'jpeg', size: "1300x650" %>
  <div class="modal-dialog" role="document"></div>
  <button type="button" class="btn btn-default" data-dismiss="modal">[ X ]</button>
</div>

<button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-4">
  <%= attachment_image_tag @estate, :property_image_d, format: 'jpeg', size: "400x400" %>
</button>
<div class="modal fade text-center m-3" id="myModal-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= attachment_image_tag @estate, :property_image_d, format: 'jpeg', size: "1300x650" %>
  <div class="modal-dialog" role="document"></div>
  <button type="button" class="btn btn-default" data-dismiss="modal">[ X ]</button>
</div>

<button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-5">
  <%= attachment_image_tag @estate, :property_image_e, format: 'jpeg', size: "400x400" %>
</button>
<div class="modal fade text-center m-3" id="myModal-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= attachment_image_tag @estate, :property_image_e, format: 'jpeg', size: "1300x650" %>
  <div class="modal-dialog" role="document"></div>
  <button type="button" class="btn btn-default" data-dismiss="modal">[ X ]</button>
</div>

<button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-6">
  <%= attachment_image_tag @estate, :property_image_f, format: 'jpeg', size: "400x400" %>
</button>
<div class="modal fade text-center m-3" id="myModal-6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= attachment_image_tag @estate, :property_image_f, format: 'jpeg', size: "1300x650" %>
  <div class="modal-dialog" role="document"></div>
  <button type="button" class="btn btn-default" data-dismiss="modal">[ X ]</button>
</div>

<button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-7">
  <%= attachment_image_tag @estate, :property_image_g, format: 'jpeg', size: "400x400" %>
</button>
<div class="modal fade text-center m-3" id="myModal-7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= attachment_image_tag @estate, :property_image_g, format: 'jpeg', size: "1300x650" %>
  <div class="modal-dialog" role="document"></div>
  <button type="button" class="btn btn-default" data-dismiss="modal">[ X ]</button>
</div>

<button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-8">
  <%= attachment_image_tag @estate, :property_image_h, format: 'jpeg', size: "400x400" %>
</button>
<div class="modal fade text-center m-3" id="myModal-8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= attachment_image_tag @estate, :property_image_h, format: 'jpeg', size: "1300x650" %>
  <div class="modal-dialog" role="document"></div>
  <button type="button" class="btn btn-default" data-dismiss="modal">[ X ]</button>
</div>

<button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-9">
  <%= attachment_image_tag @estate, :property_image_i, format: 'jpeg', size: "400x400" %>
</button>
<div class="modal fade text-center m-3" id="myModal-9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= attachment_image_tag @estate, :property_image_i, format: 'jpeg', size: "1300x650" %>
  <div class="modal-dialog" role="document"></div>
  <button type="button" class="btn btn-default" data-dismiss="modal">[ X ]</button>
</div>

<button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-10">
  <%= attachment_image_tag @estate, :property_image_j, format: 'jpeg', size: "400x400" %>
</button>
<div class="modal fade text-center m-3" id="myModal-10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= attachment_image_tag @estate, :property_image_j, format: 'jpeg', size: "1300x650" %>
  <div class="modal-dialog" role="document"></div>
  <button type="button" class="btn btn-default" data-dismiss="modal">[ X ]</button>
</div>

<button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-11">
  <%= attachment_image_tag @estate, :property_image_k, format: 'jpeg', size: "400x400" %>
</button>
<div class="modal fade text-center m-3" id="myModal-11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= attachment_image_tag @estate, :property_image_k, format: 'jpeg', size: "1300x650" %>
  <div class="modal-dialog" role="document"></div>
  <button type="button" class="btn btn-default" data-dismiss="modal">[ X ]</button>
</div>

<button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-12">
  <%= attachment_image_tag @estate, :property_image_l, format: 'jpeg', size: "400x400" %>
</button>
<div class="modal fade text-center m-3" id="myModal-12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= attachment_image_tag @estate, :property_image_l, format: 'jpeg', size: "1300x650" %>
  <div class="modal-dialog" role="document"></div>
  <button type="button" class="btn btn-default" data-dismiss="modal">[ X ]</button>
</div>

<button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-13">
  <%= attachment_image_tag @estate, :property_image_m, format: 'jpeg', size: "400x400" %>
</button>
<div class="modal fade text-center m-3" id="myModal-13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= attachment_image_tag @estate, :property_image_m, format: 'jpeg', size: "1300x650" %>
  <div class="modal-dialog" role="document"></div>
  <button type="button" class="btn btn-default" data-dismiss="modal">[ X ]</button>
</div>

<button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-14">
  <%= attachment_image_tag @estate, :property_image_n, format: 'jpeg', size: "400x400" %>
</button>
<div class="modal fade text-center m-3" id="myModal-14" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= attachment_image_tag @estate, :property_image_n, format: 'jpeg', size: "1300x650" %>
  <div class="modal-dialog" role="document"></div>
  <button type="button" class="btn btn-default" data-dismiss="modal">[ X ]</button>
</div>

<button type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal-15">
  <%= attachment_image_tag @estate, :property_image_o, format: 'jpeg', size: "400x400" %>
</button>
<div class="modal fade text-center m-3" id="myModal-15" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= attachment_image_tag @estate, :property_image_o, format: 'jpeg', size: "1300x650" %>
  <div class="modal-dialog" role="document"></div>
  <button type="button" class="btn btn-default" data-dismiss="modal">[ X ]</button>
</div>

<%= render "customers/customers/footer" %>

