<h2>管理画面</h2>
<div class="row-12">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="col-md-12">
      <div class="card">
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password %>
        </div>
        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render "admins/customers/footer" %>
