<%= render "admins/customers/header", researches: @researches %>

<%= form_with(scope: :search, url: admins_estates_path, method: :get, local: true) do |f| %>
  <div class="text-center" style="padding-top: 130px; font-size: 20px; font-weight: bold;">
    <%= f.label :間取り %>
    <%= f.collection_select :floor, Estate.group(:floor), :floor, :floor, selected: @search_params[:floor], include_blank: "間取り" %>
    <%= f.label :賃料 %>
    <%= f.select :price_from,
      [["30000"],["35000"],["40000"],["45000"],["50000"],["55000"],["60000"],["65000"],["70000"],["75000"],["80000"],["85000"],["90000"],["95000"],["100000"],
      ["105000"],["110000"],["115000"],["120000"],["125000"],["130000"],["135000"],["140000"],["145000"],["150000"],["155000"],["160000"],["165000"],["170000"],
      ["175000"],["180000"],["185000"],["190000"],["195000"],["200000"],["210000"],["220000"],["230000"],["240000"],["250000"],["260000"],["270000"],["280000"],
      ["290000"],["300000"],["310000"],["320000"],["330000"],["340000"],["350000"],["360000"],["370000"],["380000"],["390000"],["400000"],["410000"],["420000"],
      ["430000"],["440000"],["450000"],["460000"],["470000"],["480000"],["490000"],["500000"],["1000000"]], {include_blank: "賃料(下限)", selected: @search_params[:price_from]} %> ~
    <%= f.select :price_to,
      [["30000"],["35000"],["40000"],["45000"],["50000"],["55000"],["60000"],["65000"],["70000"],["75000"],["80000"],["85000"],["90000"],["95000"],["100000"],
      ["105000"],["110000"],["115000"],["120000"],["125000"],["130000"],["135000"],["140000"],["145000"],["150000"],["155000"],["160000"],["165000"],["170000"],
      ["175000"],["180000"],["185000"],["190000"],["195000"],["200000"],["210000"],["220000"],["230000"],["240000"],["250000"],["260000"],["270000"],["280000"],
      ["290000"],["300000"],["310000"],["320000"],["330000"],["340000"],["350000"],["360000"],["370000"],["380000"],["390000"],["400000"],["410000"],["420000"],
      ["430000"],["440000"],["450000"],["460000"],["470000"],["480000"],["490000"],["500000"],["1000000"]], {include_blank: "賃料(上限)", selected: @search_params[:price_to]} %>
  </div>
  <div class="text-center" style="padding-bottom: 50px; font-size: 20px; font-weight: bold;">
    <%= f.label :物件名 %>
    <%= f.text_field :name, value: @search_params[:name] %>
    <%= f.label :住所 %>
    <%= f.text_field :address, value: @search_params[:address] %>
    <%= f.submit "検索", class: "searches" %>
  </div>
  <% end %>
</div>

<div class="text-center" style="font-size: 30px; font-weight: bold;">
  物件一覧
</div>

<div class="notice text-center pt-5 pb-5" style="font-size: 20px; font-weight: bold; color: #FA601A;">
  <%= flash[:new] %>
  <%= flash[:notice] %>
</div>

<div class="container" style="margin-bottom: 20px;">
  <% if @estates.present? %>
    <% @estates.each do |estate| %>
      <div class="card shadow" style="margin-bottom: 30px; padding-bottom: 0;">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <%= attachment_image_tag estate, :background_image, format: 'jpeg', size: "285x358" %>
          </div>
          <div class="col-md-9 col-sm-12">
            <table class="table table-striped" style="margin-bottom: 0;">
              <tr>
                <th class="th" style="width: 20%;">物件名</th>
                <td class="name"><%= estate.name %>　<%= estate.room_number %>号室</td>
                <td class="td" style="width: 18%;"></td>
              </tr>
              <tr>
                <th>住所</th>
                <td class="address"><%= estate.address %></td>
                <td></td>
              </tr>
              <tr>
                <th>賃料</th>
                <td>¥<%= estate.price.to_s(:delimited) %></td>
                <td></td>
              </tr>
              <tr>
                <th>間取り</th>
                <td><%= estate.floor %></td>
                <td></td>
              </tr>
              <tr>
                <th>投稿日時</th>
                <td><%= estate.created_at.strftime('%Y年%m月%d日 %H時%M分') %></td>
                <td></td>
              </tr>
              <tr>
                <th>更新日時</th>
                <td><%= estate.updated_at.strftime('%Y年%m月%d日 %H時%M分') %></td>
                <td><%= link_to "編集", edit_admins_estate_path(estate), class: "edit btn-sm btn-outline-secondary", :style=>"text-decoration: none;" %></td>
              </tr>
              <tr>
                <th>お問い合わせ件数</th>
                <td class="researches" style="font-size: 22px;">
                  <%= link_to admins_estate_path(estate) do %>
                  <%= estate.researches.count %>
                  <% end %>
                </td>
                <td><%= link_to "削除", admins_estate_path(estate), method: :delete, class: "edit btn-sm btn-outline-secondary", :style=>"text-decoration: none;", data: { confirm: '削除しますか？' } %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <% if @search_params.present? %>
      <div class="text-center pt-5">検索条件に合致した入稿物件はございません。</div>
    <% else %>
      <div class="text-center pt-5">入稿物件はございません。</div>
    <% end %>
  <% end %>
</div>
<%= paginate @estates %>