<%= render "admins/customers/header" %>

<h1>物件入稿画面</h1>
<div class="container">
  <div class="row3">
    <%= form_with model: @estate, url:admins_estates_path, local: true do |f| %>
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5><%= f.label :背景画像 %>　<%= f.attachment_field :background_image %></h5>
            <h5><%= f.label :物件名 %>　<%= f.text_field :name, placeholder:"物件名", :size=>"93" %></h5>
            <h5><%= f.label :部屋番号 %>　<%= f.number_field :room_number, placeholder:"部屋番号" %></h5>
            <h5><%= f.label :物件概要 %>　<%= f.text_area :info, :size=>"100x10", placeholder: "物件概要" %></h5>
            <h5><%= f.label :住所 %>　<%= f.text_field :address, placeholder: "住所", :size=>"95" %></h5>
            <h5><%= f.label :間取り %>　<%= f.text_field :floor, placeholder: "間取り" %></h5>
            <h5><%= f.label :賃料 %>　<%= f.number_field :price, placeholder: "賃料" %></h5>
            <h5><%= f.label :間取り図画像 %>　<%= f.attachment_field :floor_image %></h5>
            <h5><%= f.label :物件画像１ %>　<%= f.attachment_field :property_image_a %></h5>
            <h5><%= f.label :物件画像２ %>　<%= f.attachment_field :property_image_b %></h5>
            <h5><%= f.label :物件画像３ %>　<%= f.attachment_field :property_image_c %></h5>
            <h5><%= f.label :物件画像４ %>　<%= f.attachment_field :property_image_d %></h5>
            <h5><%= f.label :物件画像５ %>　<%= f.attachment_field :property_image_e %></h5>
            <h5><%= f.label :物件画像６ %>　<%= f.attachment_field :property_image_f %></h5>
            <h5><%= f.label :物件画像７ %>　<%= f.attachment_field :property_image_g %></h5>
            <h5><%= f.label :物件画像８ %>　<%= f.attachment_field :property_image_h %></h5>
            <h5><%= f.label :物件画像９ %>　<%= f.attachment_field :property_image_j %></h5>
            <h5><%= f.label :物件画像１０ %>　<%= f.attachment_field :property_image_k %></h5>
            <h5><%= f.label :物件画像１１ %>　<%= f.attachment_field :property_image_l %></h5>
            <h5><%= f.label :物件画像１２ %>　<%= f.attachment_field :property_image_m %></h5>
            <h5><%= f.label :物件画像１３ %>　<%= f.attachment_field :property_image_n %></h5>
            <h5><%= f.label :物件画像１４ %>　<%= f.attachment_field :property_image_o %></h5>
            <%= f.submit "入稿する" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "一覧ページへ進む", admins_estates_path %>

<%= render "admins/customers/footer" %>


