<%= render "admins/customers/header" %>

<h1>物件入稿画面</h1>
<div class="row3">
  <%= form_with model: @estate, url:admins_estates_path, local: true do |f| %>
    <div class="col-12">
      <div class="card">
        <h5><%= f.label :サムネイル画像 %></h5>
        <%= f.attachment_field :background_image %><br/>
        <h5><%= f.label :物件名 %></h5>
        <%= f.text_field :name, placeholder:"物件名" %><br/>
        <h5><%= f.label :物件概要 %></h5>
        <%= f.text_field :info, class: "form-control-sm", :size=>"100x100", placeholder: "物件概要" %><br/>
        <h5><%= f.label :物件住所 %></h5>
        <%= f.text_field :address, placeholder: "物件住所" %><br/>
        <h5><%= f.label :物件間取り %></h5>
        <%= f.text_field :floor, placeholder: "物件間取り" %><br/>
        <h5><%= f.label :賃料 %></h5>
        <%= f.text_field :price, placeholder: "賃料" %><br/>
        <h5><%= f.label :間取り図画像 %></h5>
        <%= f.attachment_field :floor_image %><br/>
        <h5><%= f.label :物件画像１ %></h5>
        <%= f.attachment_field :property_image_a %><br/>
        <h5><%= f.label :物件画像２ %></h5>
        <%= f.attachment_field :property_image_b %><br/>
        <h5><%= f.label :物件画像３ %></h5>
        <%= f.attachment_field :property_image_c %><br/>
        <h5><%= f.label :物件画像４ %></h5>
        <%= f.attachment_field :property_image_d %><br/>
        <h5><%= f.label :物件画像５ %></h5>
        <%= f.attachment_field :property_image_e %><br/>
        <h5><%= f.label :物件画像６ %></h5>
        <%= f.attachment_field :property_image_f %><br/>
        <h5><%= f.label :物件画像７ %></h5>
        <%= f.attachment_field :property_image_g %><br/>
        <h5><%= f.label :物件画像８ %></h5>
        <%= f.attachment_field :property_image_h %><br/>
        <h5><%= f.label :物件画像９%></h5>
        <%= f.attachment_field :property_image_j %><br/>
        <h5><%= f.label :物件画像１０ %></h5>
        <%= f.attachment_field :property_image_k %><br/>
        <h5><%= f.label :物件画像１１ %></h5>
        <%= f.attachment_field :property_image_l %><br/>
        <h5><%= f.label :物件画像１２ %></h5>
        <%= f.attachment_field :property_image_m %><br/>
        <h5><%= f.label :物件画像１３ %></h5>
        <%= f.attachment_field :property_image_n %><br/>
        <h5><%= f.label :物件画像１４ %></h5>
        <%= f.attachment_field :property_image_o %><br/>
        <%= f.submit "入稿する" %>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "一覧ページへ進む", admins_estates_path %>

<%= render "admins/customers/footer" %>


