<%= render "admins/customers/header", researches: @researches %>

<div class="container">
  <div style="text-align: center; padding: 130px 0 40px 0; font-size: 35px; font-weight: bold;">
    物件入稿
  </div>

  <%= render 'layouts/error_messages', model: @estate %>

  <%= form_with model: @estate, url: admins_estates_path, local: true do |f| %>
    <div class="card shadow" style="margin-bottom: 120px;">
      <div class="row" style="padding: 50px 0 30px 0;">
        <div class="col-2" style="text-align: center; font-weight: bold;"><%= f.label :物件名 %></div>
        <div class="col-9" style="padding-left: 1px;"><%= f.text_field :name, placeholder:"techroom", :size=>"108" %></div>
      </div>
      <div class="row" style="padding-bottom: 30px;">
        <div class="col-2" style="text-align: center; font-weight: bold;"><%= f.label :部屋番号 %></div>
        <div class="col-2" style="padding-left: 1px;"><%= f.number_field :room_number.to_s, placeholder: "304 (半角数字のみ)" %></div>
        <div class="col-1 mr-4" style="text-align: right; font-weight: bold;"><%= f.label :賃料 %></div>
        <div class="col-2"><%= f.number_field :price, placeholder: "30000~(半角数字のみ)" %></div>
        <div class="col-1 ml-5 mr-3" style="text-align: center; font-weight: bold;"><%= f.label :間取り %></div>
        <div class="col-2 mr-4"><%= f.text_field :floor, placeholder: "2LDK(半角数字・全角英字)", :size=>"24" %></div>
      </div>
      <div class="row" style="padding-bottom: 30px;">
        <div class="col-2" style="text-align: center; font-weight: bold;"><%= f.label :住所 %></div>
        <div class="col" style="padding-left: 1px;"><%= f.text_field :address, placeholder: "東京都新宿区岡田町1-2-2", :size=>"108" %></div>
      </div>
      <div class="row">
        <div class="col-2" style="text-align: center; font-weight: bold;"><%= f.label :物件概要 %></div>
        <div class="col" style="padding-left: 1px;">
          <%= f.text_area :info, placeholder:
          "このお家の魅力は、何と言っても広々としたリビングです。リビングの広さは20帖もございます。
大きなテレビも置けますし、大きなテーブルも置けます。
また、●●町で南向きのお家です。「日当り」は、お金をかけても手に入れられませんので、物件選びの際は日当りも重視したいですよね。
あなたが「新居に置きたいな」と思っておられるテレビや家具が、実際に配置出来るかどうか
この週末お天気が良ければ、このお家の日当りを見に一緒に現地へ参りましょう。
日当り重視のあなたに、ご満足頂けると思います。

物件設備：エレベーター２基、２４時間ゴミ出し可、駐輪場、駐車場、バイク置場、TVモニター付オートロック、宅配BOX、管理人常駐
部屋設備：バス・トイレ別、独立洗面台、浴室乾燥機、追い炊き機能、温水洗浄便座、室内洗濯機置場、エアコン3台、３口ガスコンログリル付、畳部屋有、２面バルコニー有、南向き、角部屋"
          :size=>"107x10" %>
        </div>
      </div>
      <div class="row" style="padding: 60px 0 20px 0;">
        <div class="col-3" style="text-align: center; font-weight: bold;">
          <%= f.label :背景画像 %>
          <div style="padding-top: 20px;">
            <%= f.attachment_field :background_image, class: 'background-image', style: "display: none;" %>
            <%= attachment_image_tag(@estate, :background_image, fallback: "no-image-estate.jpeg", onClick: "$('.background-image').click()", size: "150x150", class: 'image-background') %>
          </div>
        </div>
        <div class="col-3" style="text-align: center; font-weight: bold;">
          <%= f.label :間取り図画像 %>
          <div style="padding-top: 20px;">
            <%= f.attachment_field :floor_image, class: 'floor-image', style: "display: none;" %>
            <%= attachment_image_tag(@estate, :floor_image, fallback: "no-image-estate.jpeg", onClick: "$('.floor-image').click()", size: "150x150", class: 'image-floor') %>
          </div>
        </div>
        <div class="col-3" style="text-align: center; font-weight: bold;">
          <%= f.label :物件画像１ %>
          <div style="padding-top: 20px;">
            <%= f.attachment_field :property_image_a, class: 'image-a', style: "display: none;" %>
            <%= attachment_image_tag(@estate, :property_image_a, fallback: "no-image-estate.jpeg", onClick: "$('.image-a').click()", size: "150x150", class: 'a-image') %>
          </div>
        </div>
        <div class="col-3" style="text-align: center; font-weight: bold;">
          <%= f.label :物件画像２ %>
          <div style="padding-top: 20px;">
            <%= f.attachment_field :property_image_b, class: 'image-b', style: "display: none;" %>
            <%= attachment_image_tag(@estate, :property_image_b, fallback: "no-image-estate.jpeg", onClick: "$('.image-b').click()", size: "150x150", class: 'b-image') %>
          </div>
        </div>
      </div>
      <div class="row" style="padding: 30px 0 20px 0;">
        <div class="col-3" style="text-align: center; font-weight: bold;">
          <%= f.label :物件画像３ %>
          <div style="padding-top: 20px;">
            <%= f.attachment_field :property_image_c, class: 'image-c', style: "display: none;" %>
            <%= attachment_image_tag(@estate, :property_image_c, fallback: "no-image-estate.jpeg", onClick: "$('.image-c').click()", size: "150x150", class: 'c-image') %>
          </div>
        </div>
        <div class="col-3" style="text-align: center; font-weight: bold;">
          <%= f.label :物件画像４ %>
          <div style="padding-top: 20px;">
            <%= f.attachment_field :property_image_d, class: 'image-d', style: "display: none;" %>
            <%= attachment_image_tag(@estate, :property_image_d, fallback: "no-image-estate.jpeg", onClick: "$('.image-d').click()", size: "150x150", class: 'd-image') %>
          </div>
        </div>
        <div class="col-3" style="text-align: center; font-weight: bold;">
          <%= f.label :物件画像５ %>
          <div style="padding-top: 20px;">
            <%= f.attachment_field :property_image_e, class: 'image-e', style: "display: none;" %>
            <%= attachment_image_tag(@estate, :property_image_e, fallback: "no-image-estate.jpeg", onClick: "$('.image-e').click()", size: "150x150", class: 'e-image') %>
          </div>
        </div>
        <div class="col-3" style="text-align: center; font-weight: bold;">
          <%= f.label :物件画像６ %>
          <div style="padding-top: 20px;">
            <%= f.attachment_field :property_image_f, class: 'image-f', style: "display: none;" %>
            <%= attachment_image_tag(@estate, :property_image_f, fallback: "no-image-estate.jpeg", onClick: "$('.image-f').click()", size: "150x150", class: 'f-image') %>
          </div>
        </div>
      </div>
      <div class="row" style="padding: 30px 0 20px 0;">
        <div class="col-3" style="text-align: center; font-weight: bold;">
          <%= f.label :物件画像７ %>
          <div style="padding-top: 20px;">
            <%= f.attachment_field :property_image_g, class: 'image-g', style: "display: none;" %>
            <%= attachment_image_tag(@estate, :property_image_g, fallback: "no-image-estate.jpeg", onClick: "$('.image-g').click()", size: "150x150", class: 'g-image') %>
          </div>
        </div>
        <div class="col-3" style="text-align: center; font-weight: bold;">
          <%= f.label :物件画像８ %>
          <div style="padding-top: 20px;">
            <%= f.attachment_field :property_image_h, class: 'image-h', style: "display: none;" %>
            <%= attachment_image_tag(@estate, :property_image_h, fallback: "no-image-estate.jpeg", onClick: "$('.image-h').click()", size: "150x150", class: 'h-image') %>
          </div>
        </div>
        <div class="col-3" style="text-align: center; font-weight: bold;">
          <%= f.label :物件画像９ %>
          <div style="padding-top: 20px;">
            <%= f.attachment_field :property_image_i, class: 'image-i', style: "display: none;" %>
            <%= attachment_image_tag(@estate, :property_image_i, fallback: "no-image-estate.jpeg", onClick: "$('.image-i').click()", size: "150x150", class: 'i-image') %>
          </div>
        </div>
        <div class="col-3" style="text-align: center; font-weight: bold;">
          <%= f.label :物件画像１０ %>
          <div style="padding-top: 20px;">
            <%= f.attachment_field :property_image_j, class: 'image-j', style: "display: none;" %>
            <%= attachment_image_tag(@estate, :property_image_j, fallback: "no-image-estate.jpeg", onClick: "$('.image-j').click()", size: "150x150", class: 'j-image') %>
          </div>
        </div>
      </div>
      <div class="row" style="padding: 30px 0 20px 0;">
        <div class="col-3" style="text-align: center; font-weight: bold;">
          <%= f.label :物件画像１１ %>
          <div style="padding-top: 20px;">
            <%= f.attachment_field :property_image_k, class: 'image-k', style: "display: none;" %>
            <%= attachment_image_tag(@estate, :property_image_k, fallback: "no-image-estate.jpeg", onClick: "$('.image-k').click()", size: "150x150", class: 'k-image') %>
          </div>
        </div>
        <div class="col-3" style="text-align: center; font-weight: bold;">
          <%= f.label :物件画像１２ %>
          <div style="padding-top: 20px;">
            <%= f.attachment_field :property_image_l, class: 'image-l', style: "display: none;" %>
            <%= attachment_image_tag(@estate, :property_image_l, fallback: "no-image-estate.jpeg", onClick: "$('.image-l').click()", size: "150x150", class: 'l-image') %>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" style="padding: 60px 0;">
        <%= f.submit "入稿する", class: "search" %>
      </div>
    </div>
  <% end %>
</div>


